*, h1, h2{margin: 0; padding: 0; box-sizing: border-box;}

html, body{width: 100%!important;}
#__next{width: 100%; max-width: 650px; margin: 0 auto;}

a{text-decoration: none; color: #000;}
ul, li{list-style: none;}

/* color */
.color-white{color: #fff!important;}

/* class prefix */
.inner{width:90%; max-width:630px;margin: 0 auto; padding: 15px 0;}
.flex-center{display: flex; align-items: center;}
.vertical{flex-direction: column; }